@import "../../scss/variables.scss";

.standing-row {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: $color-primary-dark;
  color: $color-white;
  border-radius: $border-radius;
  font-size: $font-size-small;
  margin-bottom: $spacing-smaller;

  &__position {
    padding: $spacing-small 0;
    background-color: $color-primary;
    font-weight: $font-weight-bold;
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
    width: 26px;
    text-align: center;
    border-right-width: 3px;
    border-right-style: solid;
  }

  &__name {
    margin-left: $spacing-small;
    flex: auto;
  }

  &__interval {
    margin-right: $spacing-small;
    font-weight: $font-weight-bold;
  }
}

.tyre-graphic {
  background-color: #faed00;
  color: black;
  border-radius: 50%;
  width: 17px;
  text-align: center;
  height: 17px;
  vertical-align: baseline;
  line-height: 17px;
  font-weight: bold;
  font-size: $font-size-smaller;
  margin-left: $spacing-small;
}
