@import "../../scss/variables.scss";

.standing-row {
  list-style: none;
  color: $color-white;
  font-size: $font-size-medium;
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  margin-bottom: $spacing-smallest;

  &__wrapper {
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    background-color: $color-primary-dark;
    width: 300px;
    height: 100%;
  }

  &__position {
    background-color: $color-primary;
    font-weight: $font-weight-bold;
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
    width: 36px;
    height: 100%;
    border-right-width: 4px;
    border-right-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    margin-left: $spacing-small;
    flex: auto;
  }

  &__interval {
    margin-right: $spacing-small;
    font-weight: $font-weight-bold;
  }

  &__pit {
    margin-left: $spacing-smaller;
    background-color: $color-action;
    padding: $spacing-small;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }
}

.tyre-graphic {
  background-color: #faed00;
  color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: baseline;
  line-height: 20px;
  font-weight: bold;
  font-size: $font-size-small;
  margin-left: $spacing-small;
}
