.container-example {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-image: url(../img/onboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.7);
  transform-origin: 0 0;
  padding: 60px 100px;
}

.onboard-example {
  position: absolute;
  bottom: 80px;
}

.fastest-lap-example {
  position: absolute;
  top: 0;
  left: 800px;
}
