$spacing-smallest: 2px;
$spacing-smaller: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-larger: 32px;
$spacing-largest: 38px;

$font-size-smaller: 16px;
$font-size-small: 18px;
$font-size-medium: 22px;
$font-size-large: 26px;
$font-size-larger: 36px;
$font-size-largest: 42px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-white: #ffffff;
$color-black: #000000;
$color-primary-dark: #000b1c;
$color-primary: #072047;
$color-destructive: #bf0000;
$color-constructive: #1cad10;
$color-action: #eb4d26;

$color-purple: #6c0cb3;
$color-pink: #cd04db;
$color-yellow: #eaf03c;

$box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 3px -1px rgba(0, 0, 0, 0.2);

$border-radius: 3px;

:export {
  colorWhite: $color-white;
  colorPrimary: $color-primary;
  colorPrimaryDark: $color-primary-dark;
  colorDestructive: $color-destructive;
  colorConstructive: $color-constructive;
  colorPurple: $color-purple;
  colorPink: $color-pink;
}
